<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Movie Successfully Inputted</title>
</head>

<body>
	<h1>Movie Inputed!!!</h1>
        The movie you inputed is : <%- name %>
        Would you like to add <a href="/movieInput">another movie</a> or get your <a href="/getResult">recomendation now</a>
        
	<hr>
</body>

</html>

