<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>TV Show Successfully Inputted</title>
</head>

<body>
	<h1>Tv Show Inputed!!!</h1>
        The tv show you inputed is : <%- name %>
        Would you like to add <a href="/tvshowInput">another tv show</a> or get your <a href="/getResult">recomendation now</a>
	<hr>
</body>

</html>

