<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Recomendations</title>
</head>

<body>
	<h1>Recomendations</h1>
    <p>We will give you recomendations for movies and TV shows based on what you already like <p>
    <a href="/movieInput">I want movie recomendations</a><br>
    <a href="/tvshowInput">I want TV shows recomendations</a>
	<hr>
</body>

</html>

