<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>TV Show Input</title>
</head>

<body>
	<h1>TV Shows</h1>
    <p>Directions: Fill in the name of the TV show. <br>
        Genre is not required but it helps make a better recomendation, then click submit</p>
    <form action="/tvshowInput" method="post">
        <fieldset>
            <b>Name: </b><input type="text" name="name" id="name" required>
            <br>
            <b>Genre: </b><input type="text" name="genre" id="genre">
        </fieldset>
        <br>
        <input type="reset" value="Reset">
        <input type="submit" value="Submit">
    </form>
	<hr>
</body>

</html>

